# Database Configuration
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_TYPE=
DB_SYNCHRONIZE=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=

# Application Configuration
NODE_ENV=
PORT=

# Mail Configuration - Gmail SMTP
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

# Frontend URL (for email verification links)
FRONTEND_URL=
BACKEND_URL=

# OAUTH 2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

ADMIN_BOOTSTRAP_SECRET=
